.chat-box {
    max-height: 300px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
}

.chat-section {
    display: flex;
    flex-direction: row-reverse;
    /* Chat on the right */
}

.chat-container {
    flex: 1;
    margin-left: 20px;
    /* Adjust spacing if needed */
 
}